@page
@model PractissWeb.Pages.Auth.RegisterModel
@{
  Layout = "Layouts/_BlankLayout";
  ViewData["Title"] = "Register";
}

@section VendorStyles {
<link rel="stylesheet" href="~/vendor/libs/formvalidation/dist/css/formValidation.min.css">
}

@section VendorScripts {
<script src="~/vendor/libs/formvalidation/dist/js/FormValidation.min.js"></script>
<script src="~/vendor/libs/formvalidation/dist/js/plugins/Bootstrap5.min.js"></script>
<script src="~/vendor/libs/formvalidation/dist/js/plugins/AutoFocus.min.js"></script>
}

@section PageStyles {
<link rel="stylesheet" href="~/vendor/css/pages/page-auth.dist.css">
}

@section PageScripts {
<script src="~/js/pages-auth.dist.js?v=0.8"></script>
}
@* ************** Content ************** *@

<div class="container-xxl">
  <div class="authentication-wrapper authentication-basic container-p-y">
      <!-- Register Card -->
      <div class="card">
        <div class="card-body">
          <!-- Logo -->
          <div class="app-brand justify-content-center pb-3">
            <a href="/" class="app-brand-link gap-2">
              <span class="app-brand-logo">@await Html.PartialAsync("../_Partials/_Macros")</span>
              <span class="app-brand-text h3 mb-0 fw-bold">@TempData.Peek("appName")</span>
            </a>
          </div>
          <!-- /Logo -->

          <form id="formAuthentication" class="mb-3" method="POST">
            <div class="mb-3">
              <label for="firstname" class="form-label">First Name</label>
              <input asp-for="FirstName" type="text" class="form-control" id="firstname" name="firstname" placeholder="First name" autofocus>
            </div>
			<div class="mb-3">
				<label for="lastname" class="form-label">Last Name</label>
				<input asp-for="LastName" type="text" class="form-control" id="lastname" name="lastname" placeholder="Last name">
			</div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input asp-for="Email" type="text" class="form-control" id="email" name="email" disabled>
            </div>

			<div class="mb-3">
				<div class="form-check">
					<input asp-for="TermsAccepted" class="form-check-input" type="checkbox" id="terms-conditions">
					<label class="form-check-label" for="terms-conditions">
						I agree to
						<a href="/Misc/Privacy">privacy policy </a> and
						<a href="/Misc/Eula"> EULA terms</a>
					</label>
				</div>
			</div>


			<button class="btn btn-primary d-grid w-100">
              Sign up
            </button>
          </form>

          <p class="text-center mb-0">
            <span>Already have an account?</span>
            <a href="/Auth/Login">
              <span>Sign in instead</span>
            </a>
          </p>

        </div>
      </div>
  </div>
</div>
