@page
@model PractissWeb.Pages.Misc.ClosedBetaModel
@{
}

@{
	Layout = "/Pages/Layouts/_BlankLayout.cshtml";
}

<div class="container-xxl beta-disclaimer">
	<div class="authentication-wrapper authentication-basic container-p-y">
		<div class="row justify-content-center">
			<div class="col-md-10 col-lg-8">
				<div class="card mb-4">
					<div class="card-body">
						<h1 class="mt-4">We're in Closed Beta</h1>
						<p>Thank you for your interest in our platform. We are currently in a closed beta phase, accessible by invitation only.</p>
						<p>If you've received an invitation but are encountering access issues, or if you have any questions, please don't hesitate to reach out to us.</p>
						<p>For direct inquiries or alternative methods to join our beta program, feel free to email us at <a href="mailto:info@practiss.ai">info@Practiss.ai</a>.</p>

						<div class="actions mt-4 mb-5">
							<a href="https://www.practiss.ai/sign-up" class="btn btn-primary">Join Waitlist</a>
							<a href="mailto:info@practiss.ai" class="btn btn-secondary">Contact Support</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
