@page
@model PractissWeb.Pages.Misc.DisclaimerModel
@{
}

@{
	Layout = "/Pages/Layouts/_BlankLayout.cshtml";
}

<div class="container-xxl beta-disclaimer">
	<div class="authentication-wrapper authentication-basic container-p-y">
		<div class="row justify-content-center">
			<div class="col-md-10 col-lg-8">
				<div class="card mb-4">
					<div class="card-body">
						<h2 class="mb-3">Beta Disclaimer</h2>
						<p>Welcome to our platform, and thank you for participating in our beta program! As a beta tester, you're among the first to experience our new features. We're excited to have you with us and value your feedback highly.</p>
						<p>As this is a beta version of the platform, please note the following:</p>
						<ul>
							<li><strong>Unfinished Features:</strong> Some features may be incomplete or undergoing changes. We're working hard to polish everything, but you might encounter areas that are still a work in progress.</li>
							<li><strong>Potential Bugs:</strong> Despite our best efforts, bugs might pop up. If you encounter any issues, please let us know through our feedback tool.</li>
							<li><strong>Data Stability:</strong> While we strive to ensure data integrity, there might be unexpected data resets or changes. Please keep this in mind, especially with content or data you input.</li>
							<li><strong>Updates:</strong> The platform will receive regular updates to add new features and fix known issues. We appreciate your understanding and patience during this process.</li>
						</ul>
						<p>Your feedback is crucial to us. It helps us identify issues, understand user needs, and shape the future of our platform. Please use the feedback tool available on the platform.</p>
						<p>Thank you for being an integral part of our beta testing community!</p>
						<div class="actions">
							<a href="/Misc/ProductTour" class="btn btn-primary">Proceed</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

