@page
@model PractissWeb.Pages.Misc.EulaModel
@{
}

@{
	Layout = "/Pages/Layouts/_BlankLayout.cshtml";
}

<div class="container-xxl beta-disclaimer">
	<div class="authentication-wrapper authentication-basic container-p-y">
		<div class="row justify-content-center">
			<div class="col-md-10 col-lg-8">
				<div class="card mb-4">
					<div class="card-body">
						<h1>End-User License Agreement (EULA) for the Practiss Inc.</h1>
						<p class="mt-4">IMPORTANT: PLEASE READ THIS END-USER LICENSE AGREEMENT ("AGREEMENT") CAREFULLY BEFORE USING THE PRACTISS PLATFORM ("SOFTWARE"). BY USING THE SOFTWARE, YOU ("USER") AGREE TO BE BOUND BY THE TERMS OF THIS AGREEMENT. IF YOU DO NOT AGREE TO THE TERMS OF THIS AGREEMENT, DO NOT USE THE SOFTWARE.</p>

						<section class="mt-4">
							<h5>1. License Grant</h5>
							<p>Practiss Inc. ("Company") hereby grants you a non-exclusive, non-transferable, limited license to use the Software solely for your personal or internal business purposes subject to the terms of this Agreement.</p>
						</section>

						<section class="mt-4">
							<h5>2. Restrictions</h5>
							<p>Without express written permission from the Company, you shall not:</p>
							<ul>
								<li>Copy, modify, or create derivative works based on the Software.</li>
								<li>Rent, lease, lend, sell, sublicense, assign, distribute, publish, transfer, or otherwise make available the Software to any third party for any reason.</li>
								<li>Reverse engineer, disassemble, decompile, decode, or otherwise attempt to derive or gain access to the source code of the Software.</li>
								<li>Remove any proprietary notices from the Software.</li>
							</ul>
						</section>

						<section class="mt-4">
							<h5>3. Intellectual Property</h5>
							<p>The Software and its original content, features, and functionality are and will remain the exclusive property of the Company and its licensors. The Software is protected by copyright, trademark, and other laws of both the United States and foreign countries.</p>
						</section>

						<section class="mt-4">
							<h5>4. User Content</h5>
							<p>Users may submit content or material to the Software. By submitting content, you grant the Company a worldwide, perpetual, irrevocable, royalty-free license to use, copy, modify, display, and distribute your content in connection with the Software.</p>
						</section>

						<section class="mt-4">
							<h5>5. Disclaimer of Warranties</h5>
							<p>THE SOFTWARE IS PROVIDED "AS IS," WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT.</p>
						</section>

						<section class="mt-4">
							<h5>6. Limitation of Liability</h5>
							<p>IN NO EVENT SHALL THE COMPANY, ITS OFFICERS, DIRECTORS, EMPLOYEES, OR AGENTS, BE LIABLE TO YOU FOR ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES ARISING OUT OF OR RELATED TO YOUR USE OF THE SOFTWARE.</p>
						</section>

						<section class="mt-4">
							<h5>7. Indemnification</h5>
							<p>You agree to defend, indemnify, and hold harmless the Company and its licensee and licensors, and their employees, contractors, agents, officers, and directors, from and against any and all claims, damages, obligations, losses, liabilities, costs or debt, and expenses.</p>
						</section>

						<section class="mt-4">
							<h5>8. Termination</h5>
							<p>This Agreement shall automatically terminate if you violate any of these restrictions and may be terminated by the Company at any time.</p>
						</section>

						<section class="mt-4">
							<h5>9. Governing Law</h5>
							<p>This Agreement shall be governed and construed in accordance with the laws of the State of [Your State], United States, without regard to its conflict of law provisions.</p>
						</section>

						<section class="mt-4">
							<h5>10. Changes to This Agreement</h5>
							<p>We reserve the right, at our sole discretion, to modify or replace this Agreement at any time.</p>
							<p>BY USING THE SOFTWARE, YOU ACKNOWLEDGE THAT YOU HAVE READ THIS AGREEMENT, UNDERSTAND IT, AND AGREE TO BE BOUND BY ITS TERMS AND CONDITIONS.</p>
						</section>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>