@page
@model PractissWeb.Pages.Misc.PrivacyModel
@{
}

@{
	Layout = "/Pages/Layouts/_BlankLayout.cshtml";

}

<div class="container-xxl beta-disclaimer">
	<div class="authentication-wrapper authentication-basic container-p-y">
		<div class="row justify-content-center">
			<div class="col-md-10 col-lg-8">
				<div class="card mb-4">
					<div class="card-body">
						<h1>Privacy Policy</h1>
						<section class="mt-3">
							<p>At Practiss, we recognize the importance of your privacy and are committed to protecting your personal information with the utmost care and security. This Data and Privacy Policy outlines our practices concerning data hosting, security, access, compliance, collection, and retention.</p>
						</section>

						<section class="mt-3">
							<h5>Data Hosting and Security</h5>
							<ul>
								<li><strong>Microsoft Azure Hosting:</strong> Our platform is hosted on Microsoft Azure servers located in the United States. Azure provides leading-edge physical and virtual security measures, ensuring a robust defense against potential threats.</li>
								<li><strong>Encryption and Protection:</strong> All data transmission and storage on our platform is secured with 256-bit AES encryption. This is the same level of encryption used by banks, ensuring that your financial and personal data remain confidential and secure.</li>
								<li><strong>Comprehensive Security Features:</strong> Our security measures include automated monitoring, encryption, DDoS protection, and other advanced features to safeguard your data.</li>
							</ul>
						</section>

						<section class="mt-3">
							<h5>Data Access and Privacy Compliance</h5>
							<ul>
								<li><strong>Adherence to Industry Norms:</strong> We strictly adhere to industry norms for data privacy. This guides our practices in personal data usage and ensures our data handling is compliant with legal and ethical standards.</li>
								<li><strong>Role-Based Data Access:</strong> Access to your data within Practiss is strictly role-based within your organization, ensuring that only authorized personnel can view sensitive information.</li>
							</ul>
						</section>

						<section class="mt-3">
							<h5>Data Collection and Retention</h5>
							<ul>
								<li><strong>Essential Data Collection:</strong> Practiss collects only the essential data required to deliver our services effectively. We focus on minimizing data collection to what is necessary for providing our solutions.</li>
								<li><strong>No Third-Party Sharing:</strong> We have a stringent policy against sharing your data with third parties for commercial purposes. Your information is used solely for the purpose of enhancing your experience with our platform.</li>
							</ul>
						</section>

						<section class="mt-3">
							<h5>Our Commitment</h5>
							<p>At Practiss, we take your privacy and data security seriously. Our platform is meticulously designed to not only secure your data but also to handle it with the highest standards of privacy and compliance. Trust and integrity are core to our operations, and we are dedicated to maintaining the confidentiality of your personal information.</p>
						</section>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>