@page
@model PractissWeb.Pages.Misc.ScoreModel
@{
}

@{
	Layout = "/Pages/Layouts/_BlankLayout.cshtml";

}
<div class="container-xxl beta-disclaimer">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="container mt-5">
                            <h1>Scoring Methodology</h1>
                            <section class="mt-4">
                                <p>At Practiss, our scoring system is intricately designed to offer a comprehensive evaluation of communication skills, rooted in the MECE principle. By focusing on Mutually Exclusive, Collectively Exhaustive attributes, we ensure a balanced and thorough assessment that encompasses the full spectrum of effective communication.</p>
                            </section>

                            <section class="mt-4">
                                <h3>Embracing MECE Attributes for Holistic Evaluation</h3>
                                <p>The Practiss Rubrics embody the MECE framework, evaluating distinct yet comprehensive dimensions of communication. These include Clarity of Communication, Impact and Influence, Adaptability, among others, ensuring no critical aspect is overlooked. Our methodical approach guarantees that each attribute is uniquely assessed, preventing overlap and covering the entirety of communicative competencies.</p>
                            </section>

                            <section class="mt-4">
                                <h3>Articulate Communication: The Keystone of Effective Interaction</h3>
                                <p>Central to our MECE-based evaluation is the attribute of Articulate Communication. It underscores the imperative of delivering messages with clarity and conviction. This attribute serves as the keystone, enhancing and being enhanced by the other attributes, ensuring that the efficacy of communication is maximized.</p>
                            </section>

                            <section class="mt-4">
                                <h3>Integrative Scoring Methodology</h3>
                                <p>Our scoring begins with an aggregation of scores across the MECE attributes, reflecting a participant's overall communicative prowess. Our scoring system not only measures but also inspires excellence in communication by highlighting the essential synergy between the substance of ideas and the style of their delivery. It is through this meticulous and nuanced methodology that we foster the development of well-rounded communicators, capable of both conceiving profound insights and conveying them with impact.</p>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
